In [6]:
# https://www.analyticsvidhya.com/datahack/contest/wns-analytics-hackathon-2018-1/

In [8]:
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl.metadata (355 bytes)
Collecting imbalanced-learn (from imblearn)
  Downloading imbalanced_learn-0.13.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy<3,>=1.24.3 in ./virtual_env/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scipy<2,>=1.10.1 in ./virtual_env/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (1.14.1)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in ./virtual_env/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (1.6.0)
Collecting sklearn-compat<1,>=0.1 (from imbalanced-learn->imblearn)
  Downloading sklearn_compat-0.1.3-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: joblib<2,>=1.1.1 in ./virtual_env/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in ./virtual_env/lib/python3.12/site-packages (from imbalanced-learn->imblearn) (3.5.0)
Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Downloading imbalanced_learn-0.13.0-py3-none-any.whl (238 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.4/238.4 kB 1.0 MB/s eta 0:00:002 kB/s eta 0:00:0101
Downloading sklearn_compat-0.1.3-py3-none-any.whl (18 kB)
Installing collected packages: sklearn-compat, imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.13.0 imblearn-0.0 sklearn-compat-0.1.3

### Importing Libraries

In [9]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE

### Reading data

In [2]:
file_path = '~/Desktop_linux/chinu/HR_analytics_vidya/train_LZdllcl.csv'
df = pd.read_csv(file_path)
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
file_path = '/home/pc/Desktop_linux/chinu/HR_analytics_vidya/test_2umaH9m.csv'
unseen_df = pd.read_csv(file_path)
unseen_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [5]:
unseen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           23490 non-null  int64
 1   department            23490 non-null  object
 2   region                23490 non-null  object
 3   education             22456 non-null  object
 4   gender                23490 non-null  object
 5   recruitment_channel   23490 non-null  object
 6   no_of_trainings       23490 non-null  int64
 7   age                   23490 non-null  int64
 8   previous_year_rating  21678 non-null  float64
 9   length_of_service     23490 non-null  int64
 10  KPIs_met >80%         23490 non-null  int64
 11  awards_won?           23490 non-null  int64
 12  avg_training_score    23490 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB

### Understanding data

In [21]:
for feature in df.columns:
    print(df[feature].nunique())
    print(df[feature].value_counts())
    print("*" * 40)

54808
employee_id
51526    1
65438    1
65141    1
7513     1
2542     1
        ..
60051    1
49017    1
29934    1
28911    1
73202    1
Name: count, Length: 54808, dtype: int64
****************************************
9
department
Sales & Marketing    16840
Operations           11348
Technology            7138
Procurement           7138
Analytics             5352
Finance               2536
HR                    2418
Legal                 1039
R&D                    999
Name: count, dtype: int64
****************************************
34
region
region_2     12343
region_22     6428
region_7      4843
region_15     2808
region_13     2648
region_26     2260
region_31     1935
region_4      1703
region_27     1659
region_16     1465
region_28     1318
region_11     1315
region_23     1175
region_29      994
region_32      945
region_19      874
region_20      850
region_14      827
region_25      819
region_17      796
region_5       766
region_6       690
region_30      657
region_8       655
region_10      648
region_1       610
region_24      508
region_12      500
region_9       420
region_21      411
region_3       346
region_34      292
region_33      269
region_18       31
Name: count, dtype: int64
****************************************
3
education
Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: count, dtype: int64
****************************************
2
gender
m    38496
f    16312
Name: count, dtype: int64
****************************************
3
recruitment_channel
other       30446
sourcing    23220
referred     1142
Name: count, dtype: int64
****************************************
10
no_of_trainings
1     44378
2      7987
3      1776
4       468
5       128
6        44
7        12
8         5
10        5
9         5
Name: count, dtype: int64
****************************************
41
age
30    3665
32    3534
31    3534
29    3405
33    3210
28    3147
34    3076
27    2827
35    2711
36    2517
37    2165
26    2060
38    1923
39    1695
40    1663
25    1299
41    1289
42    1149
43     992
44     847
24     845
45     760
46     697
48     557
47     557
50     521
49     441
23     428
51     389
53     364
52     351
54     313
55     294
56     264
57     238
22     231
60     217
58     213
59     209
20     113
21      98
Name: count, dtype: int64
****************************************
5
previous_year_rating
3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: count, dtype: int64
****************************************
35
length_of_service
3     7033
4     6836
2     6684
5     5832
7     5551
6     4734
1     4547
8     2883
9     2629
10    2193
11     916
12     794
13     687
15     593
14     549
16     548
17     432
18     392
19     329
20     128
21      78
24      70
23      65
22      61
25      51
26      41
27      36
29      30
28      30
31      20
30      12
32      10
33       9
34       4
37       1
Name: count, dtype: int64
****************************************
2
KPIs_met >80%
0    35517
1    19291
Name: count, dtype: int64
****************************************
2
awards_won?
0    53538
1     1270
Name: count, dtype: int64
****************************************
61
avg_training_score
50    2716
49    2681
48    2437
51    2347
60    2155
      ...
98      37
99      35
41      26
40       5
39       2
Name: count, Length: 61, dtype: int64
****************************************
2
is_promoted
0    50140
1     4668
Name: count, dtype: int64
****************************************

### Missing data

In [36]:
df.isna().sum()

employee_id                0
department                 0
region                     0
education                  0
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [33]:
unseen_df.isna().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [49]:
# Education column
df['education'] = df['education'].fillna(df['education'].mode()[0])
unseen_df['education'] = unseen_df['education'].fillna(df['education'].mode()[0])

# previous_year_rating column
rating_fill_values = {0: df.loc[df['is_promoted'] == 0, 'previous_year_rating'].mode()[0],
                      1: df.loc[df['is_promoted'] == 1, 'previous_year_rating'].mode()[0]}

df.loc[df['is_promoted'] == 0, 'previous_year_rating'] = df.loc[df['is_promoted'] == 0, 'previous_year_rating'].fillna(rating_fill_values[0])
df.loc[df['is_promoted'] == 1, 'previous_year_rating'] = df.loc[df['is_promoted'] == 1, 'previous_year_rating'].fillna(rating_fill_values[1])
# assuming that most of the data is for class 0, filling the value of mode for class 0 
unseen_df['previous_year_rating'] = unseen_df['previous_year_rating'].fillna(rating_fill_values[0])

## SMOTE - Over Sampling for imbalanced data

In [10]:
smote = SMOTE(sampling_strategy=1.0, random_state=42)
X_train, y_train = smote.fit_resample(X_train, y_train)

NameError: name 'X_train' is not defined

### Feature Scaling